<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fine Property Library</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    
    <div class="row">
       <div class="col-md-12 jumbotron text-center">
        <h1>Fine Property Library</h1>
      </div>
    </div>
    
    <div class="row"> 
      
      <div class="col-md-2">
        <!-- Empty Location -->
      </div>

      <div class="col-md-8">
        <div class="well">
          
          {% if books == []: %}
            <h4>Library is empty.</h4>
          {% endif %}
          <ul>
          {% for book in books %}
          <li>
          <a href="{{ url_for('delete', id=book.id) }}">Delete</a>
            {{book.title}} - {{book.author}} - {{book.rating}}/10
          <a href="{{ url_for('edit', id=book.id) }}">Edit Rating</a>
          </li>
          {% endfor %}
          </ul>
          <a href="{{ url_for('add') }}">Add New Book</a>
        </div>
      </div>
        
      <div class="col-md-2">
        <!-- Emoty Location -->
      </div>
    </div>    
    
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
       <h1>Thank You For Using The Library</h1>
     </div>
   </div>
     

  </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/js/app.js"></script>
  
</body>

</html>