<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Available Properties</title>
  </head>
  <body>
    <h1>Available Properties</h1>
    {% if houses == []: %}
    <p>Library is empty.</p>
    {% endif %}
    <ul>
      {% for house in houses %}
      <li>
        
        {{house.id}} - Size: {{house.SQFT}} - Market Addition: {{house.Market_Add}}
        
      </li>
      {% endfor %}

    <!-- This just displays the resuls of the second table, "Prop"
      {% for prop in props %}
      <li>
        
        {{prop.id}} - Size: {{prop.SQFT}} - Market Addition: {{prop.Market_Add}}
        
      </li>
      {% endfor %}
    -->

    </ul>

    <a href="{{ url_for('admin') }}">Go to Admin Page</a>
    
  </body>
</html>
