<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Editting Item in Library</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
    

    
</html>

  <body>
    <form action="{{ url_for('edit') }}" method="POST">
      <p>House ID: {{house.id}}</p>
      <p>Current Size: {{house.SQFT}}</p>
      <p>Current Market_Add: {{house.Market_Add}}</p>
      <input hidden="hidden" name="id" value="{{house.id}}" >

      <input name="SQFT" type="text" placeholder= {{house.SQFT}} >
      
      <input name="Address" type="text" placeholder={{house.Address}} >
      
      <input name="Pic1" type="text" placeholder={{house.Pic1}} >
      
      <input name="Pic2" type="text" placeholder={{house.Pic2}} >
      
      <button type="submit">Edit House</button>
      <a href="{{ url_for('home') }}">Return to Main Page</a>
    </form>
  </body>
</html>
