<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Property Library</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    
    <div class="row">
       <div class="col-md-12 jumbotron text-center">
        <h1>Your Properties Library</h1>
      </div>
    </div>
    
    <div class="row"> 
      <div class="col-md-2">
        <!-- Empty Location -->
      </div>

      <div class="col-md-8">
        <div class="well">
          <ul>
              <a href="{{ url_for('add') }}"><h4>Add New Property to Library</h4></a>
          </ul>
        </div>
      </div>
        
      <div class="col-md-2">
        <!-- Emoty Location -->
      </div>
    </div>      
      
      
    <div class="row"> 
      <div class="col-md-2">
        <!-- Empty Location -->
      </div>

      <div class="col-md-8">
        <div class="well">
          
        {% if houses == []: %}
          <p>Library is empty.</p>
          {% endif %}
          <ul>
          {% for house in houses %}
          <li>        
            {{house.id}} - Size: {{house.SQFT}} - Market Addition: {{house.Market_Add}}
          </li>
          {% endfor %}

          <!-- This just displays the resuls of the second table, "Prop"
          {% for prop in props %}
          <li>
            {{prop.id}} - Size: {{prop.SQFT}} - Market Addition: {{prop.Market_Add}}       
          </li>
          {% endfor %} -->

          </ul>

          <a href="{{ url_for('admin') }}">Go to Admin Page</a>

        </div>
      </div>
        
      <div class="col-md-2">
        <!-- Emoty Location -->
      </div>
    </div>    
    
    <div class="row">
       <div class="col-md-1">
        <!-- Emoty Location -->
       </div>  
      <div class="col-md-10">
        <div class="well text-center">
        <h4>Thank You For Using The Library</h4>
      </div>
       <div class="col-md-1">
        <!-- Emoty Location -->
       </div>
      </div>
    </div>
  
</body>

</html>
    
    
    
    <h1>Available Properties</h1>
              {% if houses == []: %}
              <p>Library is empty.</p>
              {% endif %}
              <ul>
                {% for house in houses %}
                <li>
                  
                  {{house.id}} - Size: {{house.SQFT}} - Market Addition: {{house.Market_Add}}
                  
                </li>
                {% endfor %}

              <!-- This just displays the resuls of the second table, "Prop"
                {% for prop in props %}
                <li>
                  
                  {{prop.id}} - Size: {{prop.SQFT}} - Market Addition: {{prop.Market_Add}}
                  
                </li>
                {% endfor %}
              -->

              </ul>

              <a href="{{ url_for('admin') }}">Go to Admin Page</a>
    
  </body>
</html>
