<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Editting Item in Library</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
    
<body>
    <div class="row">
       <div class="col-md-12 jumbotron text-center">
        <h1>Editing Existing Property Address Listing</h1>
      </div>
    </div>
    
    <div class="row"> 
      
      <div class="col-md-2">
        <!-- Empty Location -->
      </div>
      
      <div class="col-md-8">
        <div class="well">
            <form action="{{ url_for('edit') }}" method="POST">
              <p>House ID: {{house.id}}</p>
              <p>Current Address: {{house.address}}</p>
              <p>Current Size: {{house.SQFT}}</p>
              <p>Current Photo {{house.photo}}</p>
              <p>Current Tour {{house.tour}}</p>
              <p>Current Floorplan {{house.floorplan}}</p>
              <input name="id" type="text" />
              <label>Property ID</label><br>
              <input name="address" type="text" />
              <label>Property Address</label><br>
              <input name="SQFT" type="text" />
              <label>Square Footage</label><br>           
              <input name="pic" type="text" />
              <label>Photo</label><br>
              <input name="tour" type="text" />
              <label>Virtual Tour Link</label><br>
              <input name="floorplan" type="text" />
              <label>Add Floorplan</label><br>
              <br>
              <button type="submit">Commit Updates to Library</button>
              
              <!-- <input hidden="hidden" name="id" value="{{house.id}}" />
              <input name="SQFT" type="text" placeholder="New Size" />
              <input name="Market_Add" type="text" placeholder="New Market_Add" />
              <input hidden="hidden" name="id" value="{{house.id}}" />
              <input name="address" type="text" placeholder="New Address" />
              <button type="submit">Change Address</button><br>
              <input hidden="hidden" name="id" value="{{house.id}}" />
              <input name="photo" type="text" placeholder="New Photo" />
              <button type="submit">Change Photo</button><br>
              <input hidden="hidden" name="id" value="{{house.id}}" />
              <input name="tour" type="text" placeholder="New Tour" />
              <button type="submit">Change Tour</button><br>
              <input hidden="hidden" name="id" value="{{house.id}}" />
              <input name="floorplan" type="text" placeholder="New Floorplan" />
              <button type="submit">Change Floorplan</button><br> -->
            </form>
          </div>
        </div>
          <div class="col-md-2">
          <!-- Empty Location -->
        </div>
      </div>
      
      <div class="row">
       <div class="col-md-1">
        <!-- Emoty Location -->
       </div>  
      <div class="col-md-10">
        <div class="well text-center">
        <h4>Thank You For Using The Library</h4>
      </div>
       <div class="col-md-1">
        <!-- Emoty Location -->
       </div>
      </div>
    </div>
      
  </body>
    
</html>

  <body>
    <form action="{{ url_for('edit') }}" method="POST">
      <p>House ID: {{house.id}}</p>
      <p>Current Size: {{house.SQFT}}</p>
      <p>Current Market_Add: {{house.Market_Add}}</p>
      <input hidden="hidden" name="id" value="{{house.id}}" />
      <input name="SQFT" type="text" placeholder="New Size" />
      <input name="Market_Add" type="text" placeholder="New Market_Add" />
      <button type="submit">Edit House</button>
      <a href="{{ url_for('home') }}">Return to Main Page</a>
    </form>
  </body>
</html>
